html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.container {
  max-width: 997px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 13px 25px;
  border-radius: 15px;
  background-color: mediumseagreen;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  img {
    position: absolute;
    right: 34px;
    top: 17px;
    transition: transform 0.3s;
  }

  &:hover {
    background-color: lighten(mediumseagreen, 5%);

    img {
      transform: translateX(10px);
    }
  }

  &:active {
    background-color: darken(mediumseagreen, 10%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 43px 0;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px;

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    opacity: 0.5;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      display: block;
    }
  }

  &__item:not(:last-child) {
    padding-right: 30px;

    img {
      margin-right: 15px;
    }
  }
}

.content {
  padding-bottom: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__form {
    position: relative;

    input {
      width: 250px;
      height: 45px;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 13px 13px 13px 46px;
      font-size: 16px;
    }

    img {
      position: absolute;
      left: 15px;
      top: 13px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.card {
  width: 210px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
  }

  &__img {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
  }

  &__name {
    margin: 14px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-price {
    display: flex;
    flex-direction: column;

    span {
      font-weight: bold;
    }
  }

  &__heart {
    position: absolute;
    cursor: pointer;
  }

  &__btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
  }

  &__btn-img {
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.side-basket {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;

  &__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    width: 385px;
    height: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
  }

  &__items {
    flex: 1;
    overflow: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;

    .card__info {
      margin: 0 10px;
      display: block;

      span {
        font-size: 14px;
      }
    }

    .card__name {
      margin: 10px 0;
    }
  }

  &__list {
    margin-top: 30px;
  }
}

.list-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  li {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__dashed {
    flex: 1;
    height: 1px;
    border-bottom: dashed 1px #d0d0d0;
    padding: 0 5px;
  }

  &__text {
    padding-right: 10px;
  }

  &__price {
    padding-left: 10px;
    font-weight: 700;
  }

  &__btn {
    margin-top: 20px;
  }
}

/////////////////////////

$title: #7f8091;
$primary: #4d51a1;
$bg: #f0f0f6;
$chatR: #c5c5e0;
$chatL: #56576f;

.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  height: 800px;
  color: $bg;
  background-color: #ffffff;
  border-radius: 15px;
  position: fixed;
  right: 0;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0 0;
  background-color: darken($primary, 15%);

  &__title {
    h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
    }
  }

  button {
    margin-right: 10px;
  }
}

.widget-main {
  flex: 1;
  overflow: auto;
  padding: 20px 10px 20px 10px;
  position: relative;

  &__date {
    display: block;
    margin: 0 auto;
    width: 70px;
    span {
      padding: 5px 15px;
      background-color: $primary;
      color: $bg;
      font-size: 14px;
      border-radius: 50px;
      opacity: 0.8;
      position: fixed;
      transition: opacity 0.3s linear;
      z-index: 10;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__inner {
    overflow: auto;
  }

  &__left,
  &__right {
    padding: 10px;
    min-width: 110px;
    max-width: 75%;
    background-color: $bg;
    color: $chatL;
    margin-bottom: 20px;
    clear: both;

    div {
      float: right;
    }

    span {
      display: inline-block;
      margin-left: 7px;
    }
  }

  &__left {
    border-radius: 0 10px 10px 10px;
    float: left;
  }

  &__right {
    background-color: $primary;
    float: right;
    margin-left: auto;
    border-radius: 10px 10px 0 10px;
    color: $chatR;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: inherit;
    border-radius: 15px;
    overflow: auto;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: $primary;
  }
}

.widget-footer {
  padding: 10px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);

  &__form {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: relative;
  }

  &__textarea {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px 70px 7px 10px;
    outline: none;
    color: $chatL;
    margin-right: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    resize: none;

    &::placeholder {
      color: $chatR;
    }
  }

  &__textarea::-webkit-scrollbar {
    width: 6px;
  }

  &__textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: inherit;
    border-radius: 15px;
    overflow: auto;
    margin: 3px 0;
  }

  &__textarea::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: $primary;
  }

  &__btn {
    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
}

.btn {
  &__submit {
    background-color: $primary;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    max-width: 50px;
    width: 100%;
    height: 50px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: darken($primary, 15%);
    }

    &:active {
      background-color: lighten($primary, 5%);
    }
  }

  &__paperclip {
    right: 65px;
  }

  &__smile {
    right: 95px;
  }

  &__paperclip,
  &__smile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    margin: 0 2px;

    &:hover {
      path {
        fill: $chatL;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__close {
    &:hover {
      path {
        fill: darken($chatR, 5%);
      }
    }
  }

  &__paperclip,
  &__close,
  &__smile {
    background-color: inherit;
    cursor: pointer;
    border: none;

    path {
      transition: fill 0.3s linear;
    }
  }
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  span {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
}

.widget-main-suggestions {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 20px;
  width: 100%;
  
  &__item {
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 75%;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: $chatL;
    border-radius: 0 10px 10px 10px;
    border: none;
    cursor: pointer;
    background-color: $bg;
    word-break: break-word;
    outline: none;
    transition: background-color 0.3s linear, color 0.3s linear;

    &:hover {
      background-color: $primary;
      color: $chatR;
    }

    &:active {
      background-color: darken($primary, 20%);
      color: $bg;
    }
  }
  &__link{
    text-align: center;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      object-fit: cover;
      overflow: hidden;
      width: 17px;
      height: 17px;
      right: 6px;
      top: 3px;
      background-image: url(./images/widget/share.svg);
    }

    &:hover {
      &::after{
        background-image: url(./images/widget/shareWhite.svg);
      }
    }
  }
}

.widget-footer-slider {
  margin-bottom: 10px;
  padding: 0 42px;
  .slick-list{
    align-items: center;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 40px;
    height: 40px;
    background-color: $primary !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: darken($primary, 15%);
    }

    &:active {
      background-color: lighten($primary, 5%);
    }
  }

  .slick-next {
    margin-right: -16px;

  }

  .slick-prev {
    margin-left: -16px;
  }

  &__item {
    padding: 5px 15px;
    height: 50px;
    width: 140px;
    display: block;
    margin: 0 auto;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: $chatL;
    border-radius: 10px;
    border: 1px solid $bg;
    cursor: pointer;
    background-color: $bg;
    word-break: break-word;
    outline: none;
    transition: border 0.3s linear, color 0.3s linear, background-color 0.3s linear;

    &:hover {
    border: 1px solid darken($primary, 20%);
    background-color: lighten($primary, 15%);
    color: $bg;
    }

    &:active {
    border: 1px solid darken($primary, 40%);
    background-color: darken($primary, 10%);
    }
  }
}

